{% extends "base.html" %}

{% block title %}
Judgement Call
{% endblock %}


{% block content %}

<div class="below-nav-and-back">
    <h2 class="sub-header">{{ header }}</h2>
    {% include "back-arrow.html" with fallback_url=fallback_url %}
</div>

<p>{{ preamble }}</p>

{% if radar_data %}
{% include "radar_test.html" with radar_data=radar_data state=state court_name=court_name %}
{% endif %}

{% if gantt_data %}
{% include "gantt.html" with gantt_data=gantt_data state=state court_name=court_name %}
{% endif %}

{% endblock %}