<script>
    window.activeJudgeNames = []; // Make accessible in court.html
    document.querySelectorAll('.collapsible-container').forEach(function (container) {
        container.addEventListener('click', function () {
            const content = this.nextElementSibling;
            if (content.style.maxHeight && content.style.maxHeight !== "0px") {
                content.style.maxHeight = "0px";
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
                const activeJudgeName = this.querySelector('h3')?.textContent.replace(" - Chief Justice", "");
                // TODO: Handle popping oldest after reaching >2 judges
                if (activeJudgeNames.length > 2) {
                    activeJudgeNames.pop(); //.shift() causes judges' legend colors to swap!
                }
                activeJudgeNames.push(activeJudgeName);
            }
            const judgeEvent = new CustomEvent('judgeSelectionChanged', {
                detail: { judges: window.activeJudgeNames }
            });
            document.dispatchEvent(judgeEvent);

            console.log("Broadcasted updated judges:", window.activeJudgeNames);
        });
    });
</script>