{% load static %}

<!-- D3.js -->
<script src="https://d3js.org/d3.v7.min.js"></script>

<h3>{{ court.name }} Judge Tenure Timelines</h3>

<p>
    This gantt chart displays a timeline of current judges serving on the
    {{ court.name }} including their projected term end date.
</p>

{{ gantt_data|json_script:"gantt_data" }}
<p id="gantt-data" style="display: none;">{{ gantt_data }}</p>

<div class="ganttContainer">
    <div class="ganttChart"></div>
</div>


<script src="{% static 'js/ganttChart.js' %}"></script>
<script>
    const ganttData = JSON.parse(document.getElementById("gantt-data").textContent);
    makeGanttChart(ganttData, ".ganttChart");
</script>