{% extends "base.html" %}

{% block title %}
Judgement Call
{% endblock %}


{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{ person.name }}</title>
    <style>
        body {
            font-family: Inter, sans-serif;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        .card {
            border: 2px solid #493a8c;
            padding: 10px;
            margin: 10px 0;
            border-radius: 8px;
        }
        a {
            color: #3e6297;
        }
        h2 {
            margin-top: 40px;
        }
    </style>
</head>
<body>
    <div class="card">
        <h1>{{ person.name }}</h1>
        <p>Born: {{ person.birth_date }}</p>
        <p>Gender: {{ person.gender }}</p>
        <p>Race: {{ person.race }}</p>
        {% if person.party_registration == "Republican" %}
            <p>Party: <span style="color: red;">{{ person.party_registration }}</span></p>
        {% elif person.party_registration == "Democrat" %}
            <p>Party: <span style="color: blue;">{{ person.party_registration }}</span></p>
        {% else %}
            <p>Party: {{ person.party_registration }}</p>
        {% endif %}
        <p>Experience: {{ person.professional_experience }}</p>
        <p>Law school: {{ person.law_school }}</p>

    </div>

    <h2>Tenures</h2>
    {% for tenure in tenures %}
        <div class="card">
            <h3>{{ tenure.court }} ({{ tenure.start_date.year }} - {{ tenure.end_date.year }})</h3>
            <p>Selection: {{ tenure.selection_type }}</p>
            {% if tenure.chief_justice %}
                <p>Chief Justice</p>
            {% endif %}
            {% if tenure.appointer_name %}
                <p>Appointer: {{ tenure.appointer_name }} ({{ tenure.appointer_party }})</p>
            {% endif %}
            {% if tenure.ticket_party %}
                <p>Ticket Party: {{ tenure.ticket_party }}</p>
            {% endif %}
        </div>
    {% endfor %}
</body>
</html>

{% endblock %}