{% load static %}
<!-- Nadieh Bremer | Visual Cinnamon -->

<!-- D3.js -->
<script src="https://d3js.org/d3.v7.min.js"></script>

<h3>Issue Area Scores: How do your judges rule on the issues you care about?</h3>

<p>
    Select a couple of judges and see how high they score at protecting your rights.
    Each issue area (e.g. environment, privacy) will only appear if the judges you select
    have recently ruled on a landmark case in that issue area.
</p>

<div class="radarChart"></div>
<p style="display: none;">{{radar_data}}</p>
{{ radar_data|json_script:"radar_data" }}

<script src="{% static 'js/radarChart.js' %}"></script>



<script>

    /* Radar chart design created by Nadieh Bremer - VisualCinnamon.com */

    //////////////////////////////////////////////////////////////
    //////////////////////// Set-Up //////////////////////////////
    //////////////////////////////////////////////////////////////

    var margin = { top: 100, right: 100, bottom: 100, left: 100 },
        width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
        height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);

    //////////////////////////////////////////////////////////////
    ////////////////////////// Data //////////////////////////////
    //////////////////////////////////////////////////////////////
    const radar_data = JSON.parse(document.getElementById('radar_data').textContent);

    //////////////////////////////////////////////////////////////
    //////////////////// Draw the Chart //////////////////////////
    //////////////////////////////////////////////////////////////

    var color = d3.scaleOrdinal()
        .range(["#40B0A6", "#E1BE6A"]); // , "#009E73"

    var radarChartOptions = {
        w: width,
        h: height,
        margin: margin,
        maxValue: 1.0,
        levels: 4,
        roundStrokes: true,
        color: color
    };
    //Call function to draw the Radar chart
    // RadarChart(".radarChart", data, radarChartOptions);
    RadarChart(".radarChart", radar_data, radarChartOptions);
</script>